/********Footer********/
footer{
    background-color: black;
    color: white;
    width: 100%;
    padding: 0 2rem 1rem 2rem;
    position: relative;
    a {
        color: white;
    }
    ul{
        padding: 0;
        @include desktop-version1 {
            display: flex;
            justify-content: space-evenly;
        }
    }
    li{
        margin: 0.8rem 0;
        font-weight: 500;
    }
    .mini-logo{
    @include font-logo;
    }
    @include desktop-version1 {
        text-align: center;
    }
}