@font-face {
  font-family: 'roboto';
  src: url(./police/roboto-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'roboto';
  src: url(./police/roboto-regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'roboto';
  src: url(./police/roboto-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'roboto';
  src: url(./police/roboto-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'shrikhand';
  src: url(./police/shrikhand-regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto';
  font-weight: 300;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 5px 0 #C2C2C2;
          box-shadow: 0 3px 5px 0 #C2C2C2;
  position: relative;
}

.back-icon {
  position: relative;
  bottom: 5px;
  right: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  font-size: 1.5rem;
}

.logo-principale {
  font-family: 'shrikhand';
  font-weight: 500;
  height: 65px;
}

/********Footer********/
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0 2rem 1rem 2rem;
  position: relative;
  z-index: 2;
}

footer ul {
  padding: 0;
}

footer li {
  margin: 0.8rem 0;
  font-weight: 500;
}

footer .mini-logo {
  font-family: 'shrikhand';
  font-weight: 500;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.localisation {
  width: 100%;
  background-color: #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation i {
  margin-right: 5%;
}

.explore {
  width: 100%;
  background-color: #F2F2F2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 0;
  text-align: center;
}

.explore .explore-txt {
  width: 90%;
}

.explore-btn {
  border: 0 solid;
  border-radius: 30px;
  -webkit-box-shadow: 2px 3px 2px 3px #C2C2C2;
          box-shadow: 2px 3px 2px 3px #C2C2C2;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 1rem;
  margin: 20px;
  font-weight: 500;
}

aside {
  width: 95%;
}

aside ul {
  padding: 0;
}

aside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
  border: 0 solid;
  -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
          box-shadow: 0 2px 2px 0 #C2C2C2;
  border-radius: 30px;
  padding: 30px 20px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 500;
}

aside li:hover {
  background: #ede7f5;
}

aside li:hover i {
  color: #9356DC;
}

aside li .number {
  background-color: #9356DC;
  color: #F2F2F2;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  top: -3px;
  right: 30px;
  font-size: 16px;
}

aside li i {
  color: #3f3d3dc0;
  padding-right: 15px;
}

.section-restaurants {
  width: 100%;
  background-color: #F2F2F2;
  padding: 20px 15px;
}

.section-restaurants .restaurant-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resto-card {
  border: 0 solid;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 3px #C2C2C2;
          box-shadow: 2px 3px 3px #C2C2C2;
  background-color: white;
  margin: 15px 0;
}

.resto-card .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resto-card .description i {
  font-size: 2rem;
  padding-top: 25px;
}

.img-card {
  border-radius: 15px 15px 0 0;
  width: 335px;
  height: 175px;
  overflow: hidden;
}

.img-card img {
  position: relative;
  bottom: 30%;
}

.img-card .img_2 {
  position: relative;
  bottom: 90%;
}

.img-card .fnt-new {
  position: absolute;
  z-index: 1;
  right: 30px;
  background: #79dfaf;
  color: #428b69;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 2px;
}

.img-card .fnt-new p {
  margin: 0;
  font-size: 14px;
}

.card-name .bold {
  font-weight: bold;
}

.card-name .far {
  font-size: 300;
}

body {
  margin: O;
  padding: 0;
}

ul {
  list-style: none;
}

a:visited {
  color: initial;
  text-decoration: none;
  /****mixin "link"****/
}

.img-fond {
  width: 100%;
  height: 40vh;
}

.img-fond img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  border: 0 solid;
  border-radius: 40px 40px 0 0;
  position: relative;
  width: 100%;
  margin-top: -70px;
  padding: 10px 20px 40px 20px;
}

.menu .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.menu .header_menu .menu-title {
  font-family: 'shrikhand';
  font-weight: 500;
  font-size: 28px;
}

.menu .header_menu i {
  font-size: 2rem;
}

.sous-titre {
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
}

.block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

._fnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: 0 solid;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px #E2E2E2;
          box-shadow: 3px 3px 5px #E2E2E2;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._fnt .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

._fnt .p-bold {
  font-weight: 500;
  font-size: 18px;
}

.txt-fnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
  overflow: hidden;
}

.txt-fnt p {
  margin: 5px 0;
}

.btn-commander {
  border: 0 solid;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 15px 50px;
  font-weight: 400;
  margin: 3rem 0;
}
/*# sourceMappingURL=style.css.map */