@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-weight: 300;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 5px 0 #C2C2C2;
          box-shadow: 0 3px 5px 0 #C2C2C2;
  position: relative;
}

.back-icon {
  position: relative;
  bottom: 5px;
  right: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  font-size: 1.5rem;
}

.logo-principale {
  font-family: Shrikhand;
  height: 65px;
}

/********Footer********/
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0 2rem 1rem 2rem;
  position: relative;
  z-index: 2;
}

footer ul {
  padding: 0;
}

@media screen and (min-width: 720px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer li {
  margin: 0.8rem 0;
  font-weight: 500;
}

footer .mini-logo {
  font-family: Shrikhand;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.localisation {
  width: 100%;
  background-color: #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation i {
  margin-right: 5%;
}

.explore {
  width: 100%;
  background-color: #F2F2F2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 0;
  text-align: center;
}

.explore .explore-txt {
  width: 90%;
}

.explore-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border: 0 solid;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  -webkit-box-shadow: 0 3px 10px 2px #C2C2C2;
          box-shadow: 0 3px 10px 2px #C2C2C2;
  padding: 1rem;
  margin: 20px;
}

.explore-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

aside {
  width: 95%;
  padding: 2rem 0;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

@media screen and (min-width: 992px) {
  aside ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}

aside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
  border: 0 solid;
  -webkit-box-shadow: 0 3px 10px 2px #C2C2C2;
          box-shadow: 0 3px 10px 2px #C2C2C2;
  border-radius: 30px;
  padding: 20px 20px;
  margin: 1rem 0;
  font-size: 18px;
  font-weight: 500;
}

aside li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #f5eefd;
  cursor: pointer;
}

aside li:hover i {
  color: #9356DC;
}

aside li .number {
  background-color: #9356DC;
  color: #F2F2F2;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  top: -3px;
  right: 30px;
  font-size: 16px;
}

aside li i {
  color: #000;
  opacity: 0.5;
  padding-right: 15px;
}

.section-restaurants {
  width: 100%;
  background-color: #F2F2F2;
  padding: 20px 15px;
}

.section-restaurants .restaurant-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1370px) {
  .section-restaurants .restaurant-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section-restaurants .restaurant-list_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .section-restaurants .restaurant-list_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.section-restaurants .restaurant-list_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .section-restaurants .restaurant-list_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.resto-card {
  border: 0 solid;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 10px 2px #C2C2C2;
          box-shadow: 0 3px 10px 2px #C2C2C2;
  background-color: white;
  margin: 15px 0;
}

.resto-card .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resto-card .description i {
  font-size: 2rem;
  font-weight: 100;
  padding-top: 25px;
}

.img-card {
  border-radius: 15px 15px 0 0;
  width: 335px;
  height: 175px;
  overflow: hidden;
}

.img-card img {
  position: relative;
  bottom: 30%;
}

.img-card .img_2 {
  position: relative;
  bottom: 90%;
}

.img-card .fnt-new {
  position: relative;
  width: 80px;
  height: 1.9rem;
  z-index: 1;
  left: 70%;
  background-color: #99E2D0;
  color: #428b69;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
  border-radius: 2px;
}

.img-card .fnt-new p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.card-name .bold {
  font-weight: bold;
}

.card-name .far {
  font-size: 300;
}

body {
  margin: O;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
  text-decoration: none;
}

.img-fond {
  width: 100%;
  height: 40vh;
}

.img-fond img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  border: 0 solid;
  border-radius: 40px 40px 0 0;
  position: relative;
  width: 100%;
  margin-top: -70px;
  padding: 10px 20px 40px 20px;
}

.menu .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.menu .header_menu .menu-title {
  font-family: Shrikhand;
  font-size: 28px;
}

.menu .header_menu i {
  font-size: 2rem;
}

.sous-titre {
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .menu-section {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.menu-section .block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .menu-section .block-menu {
    width: 30%;
  }
}

._fnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: 0 solid;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 10px 2px #C2C2C2;
          box-shadow: 0 3px 10px 2px #C2C2C2;
  width: 100%;
  margin: 10px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

._fnt:hover {
  cursor: pointer;
  -webkit-transition: transfom 1s;
  transition: transfom 1s;
}

._fnt:hover .check-case {
  display: initial;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

._fnt .check-case {
  display: none;
  background: #99E2D0;
  color: white;
  position: relative;
  font-size: 2rem;
  border-radius: 0 15px 15px 0;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

._fnt .check-case i {
  color: #99E2D0;
  background: white;
  position: relative;
  top: 30%;
  border-radius: 30px;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.description-fnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.description-fnt .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
}

.description-fnt .p-bold {
  font-weight: 500;
  font-size: 18px;
}

.txt-fnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
}

.txt-fnt p {
  margin: 5px 0;
}

.btn-commander {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border: 0 solid;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  -webkit-box-shadow: 0 3px 10px 2px #C2C2C2;
          box-shadow: 0 3px 10px 2px #C2C2C2;
  padding: 15px 50px;
  margin: 3rem 0;
}

.btn-commander:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */