@import "./sass/base/body";
@import "./sass/utils/variable";
@import "./sass/utils/mixins";
@import "./sass/layout/header";
@import "./sass/layout/footer";
@import "./sass/pages/accueil";

body {
    margin: O;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    &:visited{
        color: initial;
    }
}

.img-fond {
    width: 100%;
    height: 40vh;
    img {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }
}

main {
    @include center;
}

.menu {
    @include center;
    background-color: $grey-light;
    border: 0 solid;
    border-radius: 40px 40px 0 0;
    position: relative;
    width: 100%;
    margin-top: -70px;
    padding: 10px 20px 40px 20px;
    .header_menu {
        display: flex;
        justify-content: space-between;
        width: 95%;
        .menu-title {
            @include shrikhand;
            font-size: 28px;
        }
        i {
            font-size: 2rem;
        }
    }
}

.sous-titre {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}

.block-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

._fnt {
    display: flex;
    background-color: white;
    border: 0 solid;
    border-radius: 15px;
    box-shadow: 3px 3px 5px  $grey;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    justify-content: space-between;
    .prix {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .p-bold {
        font-weight: 500;
        font-size: 18px;
    }   
}
.txt-fnt {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    overflow: hidden;
    p {
        margin: 5px 0;
        
    }
}

.btn-commander {
    border: 0 solid;
    border-radius: 30px;
    @include background_btn ;
    color: white;
    padding: 15px 50px;
    font-weight: 400;
    margin: 3rem 0;
}
