@font-face {
  font-family: 'Roboto';
  src: url(/Police/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(/Police/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(/Police/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(/Police/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Shrikhand';
  src: url(./Police/shrikhand-regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 5px 0 #C2C2C2;
          box-shadow: 0 3px 5px 0 #C2C2C2;
  position: relative;
}

.back-icon {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  font-size: 1.5rem;
}

.logo-principale {
  font-family: Shrikhand;
  height: 65px;
}

/********Footer********/
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
  z-index: 2;
}

footer ul {
  padding: 0;
}

footer li {
  margin: 1rem 0;
}

footer .mini-logo {
  font-family: shrikhand;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.localisation {
  width: 100%;
  background-color: #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore {
  background-color: #F2F2F2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  text-align: center;
}

.explore-btn {
  border: 0 solid;
  border-radius: 30px;
  -webkit-box-shadow: 2px 3px 2px 3px #C2C2C2;
          box-shadow: 2px 3px 2px 3px #C2C2C2;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 1rem;
  font-weight: 500;
}

aside {
  padding: 2Opx O;
}

aside li {
  border: 0 solid;
  -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
          box-shadow: 0 2px 2px 0 #C2C2C2;
  border-radius: 30px;
  background-color: #F2F2F2;
  padding: 20px;
  margin: 15px;
  font-weight: bold;
}

.restaurant-list {
  width: none;
  background-color: #F2F2F2;
  padding: 20px 0;
}

.restaurant-list .section-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resto-card {
  border: 0 solid;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 3px #C2C2C2;
          box-shadow: 2px 3px 3px #C2C2C2;
  background-color: white;
  margin: 15px 0;
}

.resto-card .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resto-card .description i {
  font-size: 2rem;
  padding-top: 25px;
}

.img-card {
  border-radius: 15px 15px 0 0;
  width: 335px;
  height: 175px;
  overflow: hidden;
}

.img-card img {
  position: relative;
  bottom: 30%;
}

.img-card .img_2 {
  position: relative;
  bottom: 90%;
}

.card-name .bold {
  font-weight: bold;
}

body {
  margin: O;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

.img-fond {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50vh;
}

.img-fond img {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  border: 0 solid;
  border-radius: 40px 40px 0 0;
  position: relative;
  width: 100%;
  margin-top: -70px;
  padding: 10px 0 40px 0;
}

.menu .header_menu {
  font-family: shrikhand;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.menu .header_menu i {
  font-size: 2rem;
}

.sous-titre {
  font-weight: 300;
}

.enter.plats.desserts {
  width: 98%;
}

._fnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: 0 solid;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 5px 2px #E2E2E2;
          box-shadow: 2px 3px 5px 2px #E2E2E2;
  padding: 1px 20px;
  margin: 20px 5px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._fnt .prix {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

._fnt .p-bold {
  font-weight: bold;
}

.txt-fnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.txt-fnt p {
  margin: 5px 0;
}

.btn-commander {
  border: 0 solid;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  padding: 15px 50px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */