@import "./sass/base/body";
@import "./sass/utils/variable";
@import "./sass/layout/header";
@import "./sass/layout/footer";


body {
    margin: O;
    padding: 0;
    
    background-color: $grey-light;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    &:visited{
        color: initial;
    }
}

