
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;

}

html, body {
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-weight: 300;
}

//   icon-check-2   <i class="fa-solid fa-check"></i>       <i class="fa-regular fa-circle-check"></i>
