body {
   @include flex-box;
    width: 100%;
    box-sizing: border-box;
}

.localisation {
    width: 100%;
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        margin-right: 5%;
    }
}

.explore {
    width: 100%;
    background-color: $grey-light;
    flex-wrap: wrap;
    @include center;
    box-sizing: border-box;
    padding: 30px 0;
    text-align: center;
    .explore-txt {
        width: 90%;
    }
}

.explore-btn {
    @include background_btn ;
    @include shadow;
    padding: 1rem;
    margin: 20px;
    &:hover {
        @include btn-hover;
    }
}

aside {
    width: 95%;
    padding: 2rem 0;
    ul { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 5%;
        /*
        version desktop
        
        */
    }
    li {
        display: flex;
        background-color: $grey-light;
        border: 0 solid ;
        @include shadow;
        border-radius: 30px;
        padding: 20px 20px;
        margin: 1rem 0;
        font-size: 18px;
        font-weight: 500;
        &:hover {
            transform: scale(1.1);
            background: $color-primaire_hover;
            cursor: pointer;
            i {
                color: $color-primaire;
            }
        }
        .number {
            background-color: $color-primaire;
            color: $grey-light;
            padding: 5px 10px;
            border-radius: 20px;
            position: relative;
            top: -3px;
            right: 30px;
            font-size: 16px;
        }
        i {
            color: #3f3d3dc0;
            padding-right: 15px;

        }
    }   
}

.section-restaurants {
    width: 100%;
    background-color: $grey-light;
    padding: 20px 15px;
    .restaurant-list {
       @include center;
       &_1 {
        @include center; 
        flex-wrap: wrap;
        width: 100%;
        @include tablette-version {
            flex-direction: row;
            justify-content: space-around;
        }
       }
       &_2 {
        @include center; 
        flex-wrap: wrap;
        width: 100%;
        @include tablette-version {
            flex-direction: row;
            justify-content: space-around;
        }
       }
    }
}



.resto-card {
    border: 0 solid;
    border-radius: 15px;
    @include shadow;
    background-color: white;
    margin: 15px 0;
    .description {
        display: flex;
        padding: 0 15px;
        justify-content: space-between;
        i {
            font-size: 2rem;
            font-weight: 100;
            padding-top: 25px;
        }
    }
}

.img-card {
    border-radius: 15px 15px 0 0;
    width: 335px;
    height: 175px;
    overflow: hidden;
    img {
        position: relative;
        bottom: 30%;
    }
    .img_2 {
        position: relative;
        bottom: 90%;
    }
    .fnt-new {
        @include fnt-new;
        p {
            margin: 0;
            font-size: 14px;
            text-align: center;
        }
    }
}

.card-name {
    .bold {
        font-weight: bold;
    }
    .far {
        font-size: 300;
    }
}