@keyframes clignote {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

 @keyframes check-rotate {
    from {
        transform:rotate(0);
        transform:rotate(0)
    }
    to {
        transform:rotate(360deg);
        transform:rotate(360deg)
    }
}

@keyframes slide-right {
    from {
        transform:scaleX(0.2);
        transform:scaleX(0.2);
        transform-origin:right;
        transform-origin:right
        }
    to {
        transform:scaleX(1);
        transform:scaleX(1);
        transform-origin:right;
        transform-origin:right
    }
}

@keyframes slide-left {
    from {
        transform:scaleX(1.2);
        transform:scaleX(1.2);
        transform-origin:left;
        transform-origin:left
        }
    to {
        transform:scaleX(1);
        transform:scaleX(1);
        transform-origin:left;
        transform-origin:left
    }
}


/****           Commentaire


*/