/* ----------------------------------------------
 -------------------ACCUEIL------------------------
 * ---------------------------------------------- */
 @keyframes anim-entrance {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes clignote {
    from {
        opacity:1 
    }
    50% {
        opacity:0.2
    }
    to {
        opacity:1
    }
}
/* ----------------------------------------------
 ----------------PAGES MENUE------------------------
 * ---------------------------------------------- */

@keyframes check-rotate {
    from {
        transform:rotate(0);
        transform:rotate(0)
    }
    to {
        transform:rotate(360deg);
        transform:rotate(360deg)
    }
}

@keyframes rotate-right {
    0% {
      opacity: 0;
      transform: rotateY(70deg);
      transform-origin: right;
    }
  
    100% {
      opacity: 1;
      transform: rotateY(0);
      transform-origin: right;
    }
  }

@keyframes slide-right {
    from {
        transform:scaleX(0.2);
        transform:scaleX(0.2);
        transform-origin:right;
        transform-origin:right
        }
    to {
        transform:scaleX(1);
        transform:scaleX(1);
        transform-origin:right;
        transform-origin:right
    }
}

@keyframes slide-left {
    from {
        transform:scaleX(1.2);
        transform:scaleX(1.2);
        transform-origin:left;
        transform-origin:left
        }
    to {
        transform:scaleX(1);
        transform:scaleX(1);
        transform-origin:left;
        transform-origin:left
    }
}


/****           Commentaire


*/