@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin font-logo {
    font-family: Shrikhand;
    font-weight: 300;
}

@mixin link {
    color: initial;
    text-decoration: none;
}

@mixin flex-box {
    display: flex;
    flex-direction: column;
}

@mixin shadow {
    box-shadow: 0 3px 10px 2px $shadow-color;
}

@mixin shadow-hover {
    box-shadow: 0 3px 10px 2px $color-secondaire_hover;
    transform: scale(1.05);
}

@mixin card {
    border: 0 solid;
    border-radius: 15px;
    @include shadow;
    background-color: white;
    margin: 15px 0;
    transition: all 0.5s ease-in-out;
}

@mixin menu-card {
    border-radius: 15px 15px 0 0;
    width: 335px;
    height: 175px;
    position: relative;
    overflow: hidden;
}

@mixin background_btn {
    background: $color-btn;
    border: 0 solid;
    border-radius: 30px;
    color: white;
    font-weight: 500;
}
@mixin btn-hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0 3px 10px 2px #201f1f
}

@mixin transition-btn {
    transition: 0.3s cubic-bezier(0.44,-0.73, 0.34, 1.71);
}

@mixin fnt-display {
    display: flex;
    background-color: white;
    border: 0 solid;
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
}

@mixin fnt-new {
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 5.5rem;
    background-color: $color-tertiaire;
    color: darken($color-tertiaire,40%);
    display: grid;
    place-items: center;
    font-weight: 500;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    border-radius: 2px;
}

@mixin heart-swg {
    opacity: 0;
    position: absolute;
    background-image: $heart-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}
@mixin heart-transition {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

@mixin block-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

@mixin sous-titre {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    position: relative;
}

@mixin sous-titre_border {
    content: "";
    position: absolute;
    top: 2rem;
    left: 0rem;
    height: 0.25rem;
    width: 3rem;
    background-color: $color-tertiaire;
}

@mixin tablette-version {
    @media screen and (min-width: map-get($breakpoints,tablette)) {
        @content;
    }
}
@mixin desktop-version1 {
    @media screen and (min-width: map-get($breakpoints,desktop)) {
        @content;
    }
}
@mixin desktop-version2 {
    @media screen and (min-width: map-get($breakpoints,desktop-2)) {
        @content;
    }
}