@mixin center {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

@mixin shrikhand {
    font-family: 'shrikhandregular';
    font-weight: 500;
}

@mixin link {
    color: initial;
    text-decoration: none;
}

@mixin flex-box {
    display: flex;
    flex-direction: column;
}

@mixin shadow {
    box-shadow: 0 3px 10px 2px $shadow-color;
}

@mixin background_btn {
    background: $color-btn;
    border: 0 solid;
    border-radius: 30px;
    color: white;
    font-weight: 500;
}
@mixin btn-hover {
    opacity: 0.7;
    cursor: pointer;
}

@mixin fnt-new {
    position: relative;
    width: 80px;
    height: 1.9rem;
    z-index: 1;
    left: 70%;
    background: #9eebc4;
    color: #428b69;
    font-weight: 500;
    margin-top: 10px;
    padding: 5px;
    border-radius: 2px;
}

@mixin tablette-version {
    @media screen and (min-width: map-get($breakpoints,tablette)) {
        @content;
    }
}
@mixin desktop-version1 {
    @media screen and (min-width: map-get($breakpoints,desktop)) {
        @content;
    }
}
@mixin desktop-version2 {
    @media screen and (min-width: map-get($breakpoints,desktop-2)) {
        @content;
    }
}