$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$shadow-color: #C2C2C2;
$grey:#E2E2E2;
$grey-light: #F2F2F2;
$color-primaire_hover:#f5eefd;
$color-secondaire_hover:#f8e4f2;